extends layout

block content
  h1= title
  if album_list.length
    ul
      each album in album_list
        li
          a(href=album.url) #{album.title} 
          | - 
          //- |  (#{album.artist.name}, released #{album.release})
          a(href=album.artist.url) #{album.artist.name},
          |  released #{album.release}

  else
    p There are no albums.
