extends layout 

block content 
    h1 #{title}: #{album.title} (#{album.release})
    p #{album.artist.name}

    p Do you really want to delete this Album?

    form(method="POST")
        div.form-group
            input#albumid.form-control(type='hidden', name='albumid', value=album._id)

        button.btn.btn-primary(type='submit') Delete